<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>me.tereshko.BasicServlet</servlet-class>
  </servlet>
  <!-- Привязываем сервлет к URL -->
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>basic_servlet</url-pattern>
  </servlet-mapping>
</web-app>



